<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTDMapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mycar">
	<!-- 순서 : Mapper -> dao -> controller -->

	<select id="getTotalCountofMycar" resultType="int">
		select count(*)
		from mycar
	</select>

	<select id="getAllDatasofMycar" resultType="CarDto">
		select * from mycar
		order by num desc
	</select>

	<insert id="insertofMycar" parameterType="CarDto">
		insert into mycar
		(carname, carprice, carcolor, carguip)
		values(#{carname},#{carprice},#{carcolor},#{carguip})
	</insert>

	<select id="getOneDataOfMyCar" resultType="CarDto"
		parameterType="String">
		select * from mycar where num=#{num}
	</select>

	<update id="updateOfMyCar" parameterType="CarDto">
		update mycar set
		carname=#{carname}, carprice=#{carprice},
		carcolor=#{carcolor},
		carguip=#{carguip} where num=#{num}
	</update>

	<delete id="deleteOfMyCar" parameterType="CarDto">
		delete from mycar where
		num=#{num}
	</delete>
</mapper>